/*基本デザイン*/

html{
	height:	100%;
}

body{
	height:	100%;
	font-family:	Verdana,	Arial;
	font-size:	14px;
}
body>#container{
	height:	auto;
}

img{
    height: 100%
}

h1{
    text-align: center;
    overflow: hidden;
    width: 1000px;
}

p{
    font-size: 0.5em;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
}

h4{
    font-weight: bold;
}

#container{
	min-height:	100%;
	height:	100%;
	width:	1030px;
	margin:		0	auto;
	padding:	0	10px;
	overflow:	hidden;
}

.bottom ul li{
    float: left;
    position: relative; 
    top: 567px;
    left: 60px;
    padding-left: 14px;
}

.photo ul li{
    float: left;
    position: relative; 
    top: 507px;
    left: 167px;
}
.top{
    background-image: url(media/LP_header_01.png);
    height: 640px;
}

.class{
    
}
.onayami{
    background-color: #000000;
    padding: 5px 30px 5px;
}
.onayami ul{
    background-color: #ffffff;
    margin: 5px;
    padding: 5px;
}

.onayami h2 img{
    font-size: 3em;
    text-align:center;
    background:url(media/top.png);
    color: #ffffff;
    position: relative; 
    top: 8px;
    left: 5px;
    width:960px;

}

.onayami li{
    list-style-image: url(media/check.png);
    margin-left: 50px;
    font-size: 30px;
    font-weight: bold;
}


.midashi{
    background: url(media/yazirushi01.png);
    font-size: 2em;
    padding: 100px;
}

.shokai01 ul li{
    float: left;
    position: relative; 
    top: -405px;
    left: 450px;
    padding-left: 80px;
}

.shokai02 ul li{
    float: left;
    position: relative;    
    top: -236px;
    left: -33px;
    padding-left: 80px;
}

.nedan{
    width: 900px; 
    height: 400px;
    position: relative;
    top: -493px;
    left: 20px;
    font-size: 20px;
    font-weight: bold;
}

.nedan td{
    padding-right: 20px;
}

.otoku{
    font-size: 6em;
    text-align: center;
    color: #d2222c;
    font-weight: bold
}

.kinou01 li h3{
    font-size: 20px;
    border-left: 10px solid #0ccd70;
    padding: 5px;
}

.kinou01 li img{
    padding: 10px 20px 5px 15px;
}

.kinou01 li{
    float: left;
    margin: 5px 20px 5px 40px;
}

.kinou01 p{
    font-size: 1em;
}

.kinou01 p:nth-child(2){
    padding-bottom: 20px;
}


.kinou02 li{
    float: left;
    margin: 0 20px 5px 40px;
}

.kinou02 li h3{
    font-size: 20px;
    border-left: 10px solid #0ccd70;
    padding: 5px;
}

.kinou02 li img{
    padding: 10px 62px 5px 15px;
}

.kinou02 p{
    font-size: 1em;
}


.guitter_01{
    position: relative;
    top: 177px;
    left: 451px;
}

.guitter_02{
    position: absolute;
    top: 177px;
    left: 742px;
}

.guitter_03{
    position: absolute;
    top: 178px;
    left: 157px;
    float: left;
}
.get{
    clear: both;
    background: url(media/LP_get.png) no-repeat;
    position: relative;
    height:850px;
}

.right{
    margin-right: 40px;
}

.bottom{
    margin-bottom: 26px;    
}

.kounyu ul li{
    float: left;
    position: relative;
    top: -225px;
    left: -9px;
    padding-right: 96px;
}

.kounyu ul li:nth-child(2){
    padding-left: 26px;
}

.midashi03{
     clear: both;
}

.live li{
    float: left;
    margin: 23px;
}

.koe01{
    background: url(media/okyakusama_01.png)no-repeat;
    height: 280px;
    margin-bottom: 15px;
}

.koe01 h3{
    font-size: 2em;
    margin-left: 290px;
    border-left: 10px solid #fa7bcc;
    padding-left: 10px;
    font-weight: bold;
    margin-bottom: 15px;
}

.koe01 p{
    margin-left: 290px;
    font-size: 1em;

}

.koe02{
    background: url(media/okyakusama_02.png)no-repeat;
    height: 280px;
    margin-bottom: 15px;
}

.koe02 h3{
    font-size: 2em;
    margin-left: 290px;
    border-left: 10px solid #fa7bcc;
    padding-left: 10px;
    font-weight: bold;
    margin-bottom: 15px;
}

.koe02 p{
    margin-left: 290px;
    font-size: 1em;
}

.koe03{
    background: url(media/okyakusama_03.png)no-repeat;
    height: 280px;
    margin-bottom: 15px;
}

.koe03 h3{
    font-size: 2em;
    margin-left: 290px;
    border-left: 10px solid #fa7bcc;
    padding-left: 10px;
    font-weight: bold;
    margin-bottom: 15px;
}

.koe03 p{
    margin-left: 290px;
    font-size: 1em;
}

.koe04{
    background: url(media/okyakusama_04.png)no-repeat;
    height: 280px;
    margin-bottom: 15px;
}

.koe04 h3{
    font-size: 2em;
    margin-left: 290px;
    border-left: 10px solid #fa7bcc;
    padding-left: 10px;
    font-weight: bold;
    margin-bottom: 15px;
}

.koe04 p{
    margin-left: 290px;
    font-size: 1em;
}

.qa dt h4{
    font-size: 2em;
    border-left: 10px solid #f8df0b;
    margin: 5px 0 5px 5px;
    padding-left: 5px;    
}

.qa p{
    font-size: 1em;
    margin-left: 5px;
}

.border{
    border: 10px solid #f0f0f0;
    margin-bottom: 10px;
    width: 90%;
    margin: 10px auto;
}

.shiyou{
    background: url(media/shiyou.png);
    padding-top: 540px;
    margin-bottom: 30px;
    font-size: 13px;
}

.komidashi{
    font-size: 18px;
}

.komidashi h5{
    border-bottom: 5px solid #000000;
    width: 700px;
    margin-bottom: 5px;
}

.gray{
    color: #6e6463;
}

.small{
    font-size: 12px;
}

.footer img{
    float: left;
}

.footer li{
    float: right;
    margin-left: 19px;
}

.footer li a{
    color: #000000;
}
.footer p{
    float: right;
    margin-right: -300px;
    margin-top: 55px;
    font-size: 13px;
}